body {
	margin: 5em auto;
	font-size: 1rem;
    max-width:800px;
}

footer {
    width: 100%;
    float: left;
}

.pixel {
    image-rendering: pixelated;
}

@media (max-width: 768px) {
    body {
		margin: 1em auto;
        font-size: 1.2rem;
        padding: 20px;
    }
}